nav {
    background: #3B6FF7;
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    li {
        margin-bottom: 10px;
        color: white;
        margin-top: 10px;
        margin-right: 30px;
        img {
            width: 15%;
            float: left;
        }
        .search {
            //float:right;
            background-color: transparent;
            color: white;
            font-size: 16px;
            padding: 14px 30px;
            border-radius: 8px;
            border: 2px solid white;
            align-self: center;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            margin-bottom: 10px;
            &:hover {  
                background-color: white;
                color: #3B6FF7;
                font-size: 16px;
                padding: 14px 30px;
                border-radius: 8px;
                border: 2px solid #3B6FF7;
                align-self: center;
            }
        }
    }
}