.profile {
    background-color: #EFEFEF;
    height: 13em;
    border-bottom: 2px solid #3B6FF7;
    padding-top: 0.1em;
    .left {
        float: left;
        margin-top: 1.2%;
        margin-left: 5%;
    }
    .avatar {
        height: 10em;
    }
    .phone {
        margin: 0.5em 0em 0em 0em;
    }
    .email {
        margin: 2em 0em 0em 0em;
    }
    p {
        margin: 0px 0px 0px 0px;
        font-size: 24px;
        margin-left: 70px;
        float: left;
    }
    button {
        float: right;
        margin-right: .2em;
    }
}