.profile {
    background-color: #EFEFEF;
    height: 200px;
    border-bottom: 2px solid #3B6FF7;
    .left {
        float: left;
        margin-top: 1.2%;
        margin-left: 5%;
    }
    .avatar {
        height: 10em;
    }
    .phone {
        margin: 0px 0px 0px 0px;
    }
    .email {
        margin: 30px 0px 0px 0px;
    }
    p {
        margin: 0px 0px 0px 0px;
        font-size: 24px;
        margin-left: 70px;
        float: left;
    }
    button {
        margin-right: 15px;
        float: right;
        flex-direction: row;
    }
}