h1 {
    margin-left: 40%;
}

form {
    margin-left: 13%;
    margin-bottom: 3%;
    width: 70%;
    height: 600px;
    border: 2px solid #3B6FF7;
    border-radius: 15px;
    .lefthalf {
        margin-left: 3%;
        float: left;
    }
    .righthalf{
        
    }
    input[type=text], input[type=number],input[type=password],input[type=email]{
        height: 35px;
        background: #FFFFFF;
        border: 2px solid #3B6FF7;
        border-radius: 15px;
        width: 300px;
    }

    input[type=submit] {
        background-color: rgb(68, 226, 73);
        border: none;
        color: white;
        font-weight: bold;
        padding: 16px 32px;
        text-decoration: none;
        margin-top: 10px;
        margin-left: 30px;
        border-radius: 15px;
        cursor: pointer;
    }
}